<li class="burger-lists">
    {{burger_name}}

        <button class="change-devour btn-danger" data-id="{{id}}" data-newdevour="{{devour}}">
            {{#if devour}}Devour it!!{{else}}ew, jk{{/if}}
        </button>
</li>
<br>